<div class="row">
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>Exciting updates are on the way! Stay tuned for new projects, insights,
      and developments in my journey through computer programming and analysis.</p>
  </aside>
  <section class="main col-md-9">
    <article>
      <h2>About Me</h2>
      <p>
        I'm currently studying Web Development at Seneca Polytechnic, where I'm
        learning various programming languages and frameworks. My interests
        include building dynamic websites, improving user experiences, and
        creating scalable web applications. My goals include becoming a
        full-stack developer and contributing to open-source projects.
      </p>
      <p>
        In my spare time, I enjoy experimenting with new coding techniques,
        exploring cloud technologies, and staying updated on the latest trends
        in web development. I'm always eager to learn and take on new challenges
        in the tech industry.
      </p>
    </article>
  </section>
</div>